html, body {
    font: 100% "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    background: #C5E6FF;
}

body {
    padding-top: 1em;
}

form#bar {
    margin: 1.4em 1em 0;
	width: 16em;
	float: left;
}

form label, #misc h2 {
    display: block;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 1em;
    font-size: .75em;
    text-shadow: 0 1px 0 #fff, 1px 1px 0 #eef, -1px 1px 0 #eef;
}

label {
    cursor: pointer;
}

#misc label {
    display: inline;
    text-transform: none;
    text-shadow: none;
    color: #333;
}

input#time, input#from, input#in {
	margin: 0 auto;
	width: 10em;
	font: 1.5em "Helvetica Neue", sans-serif;
	letter-spacing: -1px;
	padding: .1em .3em;
	border: 1px solid #aaa;
	box-shadow: 1px 1px 1px #ccc;
	-moz-box-shadow: 1px 1px 1px #ccc;
	-webkit-box-shadow: 1px 1px 1px #ccc;
	text-shadow: 1px 1px 1px #bbb;
}
input#time:focus, input#from:focus, input#in:focus {
    background: #ffffcc;
    border-color: #88a;
}

#results {
    margin: 0 1em 2em 20em;
}

#results h2 {
    text-shadow: 1px 1px 0 #fff;
    color: #357;
    font-size: 1.5em;
}

#results h2 strong {
    font-size: 2em;
    display: block;
    color: #113;
}