html, body {
    font: 100% "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    background: #FFFFE0;
}

.wrapper {
    margin: 0 auto;
    width: 60em;
}

#header {
    background: #246;
    border-bottom: .5em solid #024;
    padding-top: 2em;
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: #8bd;
    text-shadow: 1px 1px 1px #012;
    font-weight: bold;
}

#header p {
    text-transform: lowercase;
    margin: 0;
    font-size: .75em;
    text-shadow: 1px 1px 0 #000;
    color: #7793aa;
    font-weight: bold;
}

form#bar {
    margin: 2em 0;
}

form#bar .box {
    float: left;
    margin-right: 1em;
}

form label, #misc h2 {
    display: block;
    text-transform: lowercase;
    font-weight: normal;
    margin: .5em 0;
    font-size: .75em;
    text-shadow: 1px 1px 0 #000;
    color: #eed;
}

form label {
    cursor: pointer;
}

form#bar label span {
    color: #8bd;
}

#misc label {
    display: inline;
    text-transform: none;
    text-shadow: none;
    letter-spacing: 0;
    color: #8bd;
    text-shadow: 1px 1px 0 #000;
}

input#time, input#from, input#in {
	margin: 0 auto;
	width: 10em;
	font: 1.5em "Helvetica Neue", sans-serif;
	letter-spacing: -1px;
	padding: .1em .3em;
	background: #eef5ff;
	border: 1px solid #aaa;
	box-shadow: 2px 2px 2px #024;
	-moz-box-shadow: 2px 2px 2px #024;
	-webkit-box-shadow: 2px 2px 2px #024;
	text-shadow: 1px 1px 1px #bbb;
}
input#time:focus, input#from:focus, input#in:focus {
    background: #FFFFE0;
    border-color: #88a;
}

input#from.grey, input#in.grey {
    color: #aaa;
    text-shadow: 1px 1px 1px #eee;
}

#results {
    color: #8ac;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
}

#results #from-time, #results #in-time, #results #other-time {
    margin: 2em 0;
}

#results .date, #results div span span {
    font-size: .5em;
    text-transform: uppercase;
    color: #357;
}

#results .date {
    position: relative;
    top: .5em;
}

#results .time {
    font-size: 2em;
    display: block;
    color: #135;
    font-weight: bold;
}

#results div span {
    letter-spacing: -1px;
    text-transform: uppercase;
}

#results div strong {
    font-size: 2em;
    display: block;
    color: #113;
}

#results .box {
    float: left;
    width: 33%;
}