html, body {
    font: 100% "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    background: #C5E6FF;
}

.wrapper {
    margin: 0 auto;
    width: 60em;
}

#header {
    background: #246;
    border-bottom: .5em solid #024;
    padding: 2em 0;
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: #7ac;
    text-shadow: 1px 1px 1px #012;
}

form#bar {
    margin: 1.4em 0 0;
}

form#bar .box {
    float: left;
    margin-right: 1em;
}

form label, #misc h2 {
    display: block;
    text-transform: lowercase;
    font-weight: normal;
    margin: .5em 0;
    font-size: .75em;
    text-shadow: 1px 1px 0 #000;
    color: #ded;
}

label {
    cursor: pointer;
}

#misc label {
    display: inline;
    text-transform: none;
    text-shadow: none;
    letter-spacing: 0;
    color: #8bd;
    text-shadow: 1px 1px 0 #000;
}

input#time, input#from, input#in {
	margin: 0 auto;
	width: 10em;
	font: 1.5em "Helvetica Neue", sans-serif;
	letter-spacing: -1px;
	padding: .1em .3em;
	border: 1px solid #aaa;
	box-shadow: 1px 1px 1px #7ac;
	-moz-box-shadow: 1px 1px 1px #7ac;
	-webkit-box-shadow: 1px 1px 1px #7ac;
	text-shadow: 1px 1px 1px #bbb;
}
input#time:focus, input#from:focus, input#in:focus {
    background: #ffffcc;
    border-color: #88a;
}

input#from.grey, input#in.grey {
    color: #bbb;
    text-shadow: 1px 1px 1px #eee;
}

#results {
}

#results #in-time, #results #from-time {
    color: #357;
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0;
}

#results #from-time {
    margin: 2em 0;
}

#results #in-time strong, #results #from-time strong {
    text-shadow: 2px 2px 0 #fff, 1px 1px 0 #fff;
    font-size: 2em;
    display: block;
    color: #113;
}